
.container{
display:flex;
flex-direction: column;  
}
.firstChoiceDiv{
  display:flex;
  text-align: center;
}
select{
  margin:5px;
}

.invisible{
  visibility: collapse
}

.visible{

visibility:visible
}
